.colorsList {
  display: flex;
  list-style: none;
}

.colorPalette {
  margin-bottom: 2em;
}

.whyGoodOption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.whyGoodOption h2 {
  /* font-size: 1.5rem; */
  margin-bottom: 0.5em;
  color: var(--secondary-color);
}
