.colorCard {
  transition: all 0.2s;
  width: 250px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  cursor: pointer;
  color: white;
}

.colorCard hr {
  padding: 12px;
  margin: 0;
  margin-top: 9px;
}

.colorCard:hover {
  /* height: 26em; */
  box-shadow: 0px 0px 20px var(--neutral-color);
}

.colorCardText {
  position: relative;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0.5, 0.5, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 900;
  font-size: larger;
  transition: all 0.3s;
}
.colorName {
  align-self: center;
}

.colorCodesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: smaller;
}

.colorCode {
  transition: all 0.2s;
}

.colorCode:hover {
  color: lightgray;
}
