.frameworkContainer {
  /* max-width: 60vw; */
  display: flex;
  flex-direction: column;
}

.frameworkName {
  margin-bottom: 4rem;
}

.frameworkElement {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.descriptionTitle {
  color: var(--accent-color);
}

.frameworkDescription {
  margin-bottom: 30px;
}

.description {
  /* margin-bottom: 2em; */
  /* font-size: 1.5rem; */
}

.link {
  color: var(--accent-color);
  margin-left: 0.5em;
}

/* .frameworkElementLink {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */
