.frameworkContainer {
  max-width: 60vw;
  display: flex;
  flex-direction: column;

}

.frameworkName {
  font-size: 6rem;
  margin-bottom: 4rem;
}

.frameworkElement {
  /* padding: 2%; */
  font-size: larger;
  display: flex;
  flex-direction: column;
}

.descriptionTitle {

  color: var(--secondary-color);
  /* display: block; */
}

.description {
  margin-bottom: 2em;
}


.frameworkElementLink {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
