:root {
  --primary-color: #e1ebf3;

  --secondary-color: #c6cfd5;

  --text-color: black;

  --accent-color: #d4e2df;

  --shadow-color: rgba(0, 0, 0, 0.1);

  --neutral-color: #4f4f4f;
  --background-color: #D3D0CB;
  --surface-color: white;
  --block-color: #9FB1BC;
  --error-color: red;

  --color-card-1: #e1ebf3;
  --color-card-2: #d4e2df;
  --color-card-3: #c6cfd5;
  --color-card-4: #e9dcce;
  --color-card-5: #e0d4d5;
}

/* --accent-color: #E5B769; */
/* --primary-color: #146c94; */
/* --secondary-color: #19a7ce; */

/* button, icons, highlights */
/* --primary-color: #5be4d4; */
/* --primary-color: #d4e2df; */
/* headers, section background, accents */
/* --secondary-color: #d4e2df; */
/* text */
/* --text-color: black; */
/* accents for hover on buttons, badges, and notifications */
/* --accent-color: #5be4d4c3; */
/* shadows */
/* --shadow-color: rgba(0, 0, 0, 0.1); */

/* dividors borders background elements */
/* --neutral-color: #4f4f4f;
  --background-color: #f9faf7;
  --surface-color: white;
  --block-color: #bdb8b1;
  --error-color: red;
  --color-card-1: #e1ebf3;
  --color-card-2: #d4e2df;
  --color-card-3: #c6cfd5;
  --color-card-4: #e9dcce;
  --color-card-5: #e0d4d5; */

[data-theme='dark'] {
  /* button, icons, highlights */
  --primary-color: #5be4d4;
  /* headers, section background, accents */
  --secondary-color: #5be4d45e;
  /* text */
  --text-color: white;
  /* accents for hover on buttons, badges, and notifications */
  --accent-color: #5be4d4d7;

  /* dividors borders background elements */
  --neutral-color: #4f4f4f;

  --background-color: #0a1a30f5;
  --surface-color: #112240;
  --block-color: #1e3c6c80;

  --error-color: rgb(110, 25, 25);

  --color-card-1: #d66c6e;
  --color-card-2: #d4972c;
  --color-card-3: #bf69c5;
  --color-card-4: #8b67ce;
  --color-card-5: #668cc0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;800&family=Inter:wght@400;500;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Quicksand:wght@500;600;700&family=Ubuntu:wght@400;500;700&family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Train+One&display=swap');

/*
font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Zen Dots', cursive;
*/

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* GLOBALS */

body {
  padding-top: 82px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  border: none;
  border-top: 1px solid var(--secondary-color);
  margin-block: 1em;
}