:root {
  /* ================ Dark Mode ======================= */
  /* button, icons, highlights */
  --primary-color-dark: #5be4d4;
  /* headers, section background, accents */
  --secondary-color-dark: #5be4d438;
  /* text */
  --text-color-dark: white;
  /* accents for hover on buttons, badges, and notifications */
  --accent-color-dark: #5be4d44c;

  /* dividors borders background elements */
  --neutral-color-dark: #4f4f4f;

  --background-color-dark: #0a1a30f5;
  --surface-color-dark: #0a1a30;
  --error-color-dark: red;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;800&family=Inter:wght@400;500;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Quicksand:wght@500;600;700&family=Ubuntu:wght@400;500;700&family=Zen+Dots&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Train+One&display=swap");

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Zen Dots', cursive;
*/

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: var(--text-color-dark);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* GLOBALS */

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}
