.introContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroText {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
}

.typewriter {
  color: var(--primary-color);
}

.setApp {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--primary-color);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogo {
  display: flex;
}

.sell {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
}

.heroBtn {
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.heroBtn:hover {
  background-color: var(--accent-color);
  transform: translateY(-3px);
}

.heroBtns {
  margin-top: 40px;
  display: flex;
  gap: 50px;
  display: flex;
  justify-content: center;
}

.moreInfo {
  background-color: var(--block-color);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.sectionHeading {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--primary-color);
}

.infoContainer {
  display: flex;
  align-items: center;
  padding: 50px 150px;
}

.infoText {
  width: 50%;

  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
}

.infoText > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoImage {
  width: 50%;
}

.lottieSetApp {
  height: 400px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 150px;
  background-color: var(--block-color);
}

.footerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerLogo {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 8px;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-weight: 600;
}

.followUs {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .sectionHeading {
    font-size: 25px;
  }

  .infoContainer {
    padding: 50px 100px;
  }
  .footer {
    padding: 30px 100px;
  }
}

@media (max-width: 800px) {
  .sectionHeading {
    font-size: 20px;
  }

  .infoContainer {
    padding: 50px 50px;
  }

  .footer {
    padding: 30px 50px;
  }
}

@media (max-width: 700px) {
  .heroText {
    font-size: 50px;
    letter-spacing: 2.5px;
  }
  .sectionHeading {
    font-size: 20px;
  }

  .container {
    padding: 20px 20px;
  }
  .infoContainer {
    flex-direction: column-reverse;
    padding: 30px 30px;
  }
  .infoText {
    width: 100%;
  }
  .footer {
    padding: 30px 30px;
  }
}

@media (max-width: 600px) {
  .sectionHeading {
    font-size: 17px;
    padding: 5px;
  }

  .infoText {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .sectionHeading {
    font-size: 17px;
    padding: 5px;
  }

  .infoText {
    width: 100%;
  }
}
