.container {
  background-color: var(--surface-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
}

.navOptions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginBtn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 700;
  color: var(--text-color);
}

.projectlink {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 25px;
  transition: all 0.2s;
}

.projectlink:hover,
.projectlink:valid {
  background-color: var(--primary-color);
  /* box-shadow: #5be4d486 1px 1px 10px; */
}

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Zen Dots', cursive; */