.inputContainer {
  /* display: none; */
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: all 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.ideaTextArea {
  display: block;
  width: 100%;
  font-size: 25px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  outline: none;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  letter-spacing: 2px;
  resize: none;
}

textarea.ideaTextArea + label.ideaLabel {
  display: block;
  position: relative;
  white-space: nowrap;

  margin: 0;
  width: 10%;
  border-top: 2px solid var(--primary-color);
  transition: width 0.4s ease;
  height: 0px;
  letter-spacing: 1px;
}

textarea.ideaTextArea:focus + label.ideaLabel,
textarea.ideaTextArea:focus + label.ideaLabel {
  width: 60%;
}

textarea.ideaTextArea:valid,
textarea.ideaTextArea:focus {
  margin-top: 35px;
}

textarea.ideaTextArea:focus + label.ideaLabel > span.ideaSpan,
textarea.ideaTextArea:valid + label.ideaLabel > span.ideaSpan {
  top: 10px;
  font-size: 22px;
}

span.ideaSpan {
  font-weight: 600;
  position: absolute;
  font-size: 40px;
  top: -66px;
  z-index: -1;
  letter-spacing: 3px;
  transition: top 0.5s ease, font-size 0.2s ease, color 0.2s ease;
}

.sendBtn {
  flex-grow: 1;
  align-self: end;
  margin-right: 0;
  font-size: 30px;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  transition: all 0.2s;
}

.sendBtn:hover {
  color: var(--primary-color);
  transform: translateX(10px) rotate(-45deg);
}

.loadingContainer {
  display: none;
  transition: all 0.2s ease-in-out;
}

.spinnerContainer {
  display: flex;
}

.progressBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.MuiLinearProgress-root {
  background-color: var(--secondary-color);
}

.MuiLinearProgress-barColorPrimary {
  background-color: var(--primary-color);
}
