.inputContainer {
  display: flex;
  margin: 2%;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ideaTextArea {
  display: block;
  width: 100%;
  font-size: 25px;
  border: none;
  color: white;
  background-color: transparent;
  overflow: hidden;
  outline: none;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  letter-spacing: 2px;
  resize: none;
}

textarea.ideaTextArea+label.ideaLabel {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid orange;
  transition: width 0.4s ease;
  height: 0px;
  color: white;
  letter-spacing: 1px;
}

textarea.ideaTextArea:focus+label.ideaLabel,
textarea.ideaTextArea:focus+label.ideaLabel {
  width: 60%;
}

textarea.ideaTextArea:valid,
textarea.ideaTextArea:focus {
  margin-top: 35px;
}

textarea.ideaTextArea:focus+label.ideaLabel>span.ideaSpan,
textarea.ideaTextArea:valid+label.ideaLabel>span.ideaSpan {
  top: 10px;
  font-size: 22px;
  color: white;
}

/* textarea.ideaTextArea:focus + label.ideaLabel > span.ideaSpan,
textarea.ideaTextArea:valid + label.ideaLabel > span.ideaSpan {
  top: -150px;
  font-size: 22px;
  color: white;
} */

span.ideaSpan {
  font-weight: 600;
  position: absolute;
  font-size: 48px;
  top: -66px;
  z-index: -1;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.sendBtn {
  flex-grow: 1;
  align-self: end;
  margin-right: 0;
  font-size: 48px;
  background-color: transparent;
  border: none;
  color: white;
  scale: 0.8;
  transition: all 0.2s ease-in-out;
}
