.outputPage {
  margin-top: 5vh;
  height: 78vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.outputContent {
  padding-inline: 40px;
  position: relative;
  margin-left: max(18vw, 250px);
  width: calc(100% - max(18vw, 250px));
}

.outputContent h1 {
  /* color: var(--primary-color); */
  font-size: 6rem;
  /* font-size: 2.5rem; */
  font-weight: 700;
  margin-bottom: 20px;
  font-weight: lighter;
}
