.menu {
  width: 300px;
  height: 100%;
  min-height: 100%;
  background-color: var(--block-color);
  padding: 20px;
  flex-direction: column;
  position: relative;
  left: 0;

}

.accordion {
  all: unset;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.MuiAccordion-root {
  border: none;
  box-shadow: none;
}

.menuButton {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 25px;
  transition: transform 0.2s;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  outline: none;
}

.menuButton:hover {
  transform: translateY(-3px);
}
