.addProjectButton {
  border: none;
  outline: none;
  font-family: "Ubuntu Mono", monospace;
  background-color: var(--primary-color-dark);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 700;
}
