.projectCard {
  background-color: var(--surface-color);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 25px;
  width: 200px;
  cursor: pointer;
  height: 190px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.projectCard:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 5px rgba(245, 245, 245, 0.25);
}

.deleteIcon {
  font-size: 10px;
}

.deleteBtn {
  background-color: transparent;
  border-radius: 250px;
  border: none;
  color: var(--primary-color);
}

.deleteBtn:hover {
  color: var(--text-color);
}

.deleteBtnContainer {
  position: absolute;
  right: 6px;
  top: 6px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  letter-spacing: 2px;
  font-size: 15px;
  display: flex;
}

.intro {
  font-size: 12px;
}

.idea {
  font-size: 13px;
}

.details {
  display: flex;

  font-size: 10px;
  justify-content: space-between;
}

.createdAt {
  font-weight: 700;
}
