.summaryContainer {
  /* height: 88vh; */
  /* width: 100%; */

  /* display: flex; */
  /* flex-direction: column; */
  /* position: relative; */
}

.outputContent {
  /* position: relative; */
}

.projectSummary {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: justify;
}

.summaryTitle {
  text-align: center;
  font-weight: bolder;
}

.summaryTitle hr {
  margin-block: 20px;
}

.summaryContainer ul {
  list-style: inside square;
}

.summaryContainer li {
  font-size: 1.2rem;
  margin: 0;
}