.todoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.todoCard {
  background-color: var(--surface-color);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 25px;
  width: 80%;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  max-width: 80%;
}

.todoCard:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px 5px rgba(245, 245, 245, 0.25);
}

.editIcon {
  font-size: 13px;
}

.deleteIcon {
  font-size: 13px;
}

.deleteBtn {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: color 0.2s;
}

.deleteBtn:hover {
  color: var(--text-color);
}

.deleteBtnContainer {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.todo {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 2px;
  display: flex;
  align-self: center;
  font-weight: 500;
}

.createdAt {
  font-weight: 100;
  font-size: 12px;
  justify-self: flex-end;
  margin-top: 5px;
  font-weight: 500;
}

.todoCardDone {
  background-color: darkgray;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid var(--primary-color);
  padding: 20px;
  border-radius: 25px;
  width: 80%;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  text-decoration-line: line-through;
}

.checkbox {
  appearance: none;
  background-color: var(--background-color);
  font: inherit;
  color: var(--text-color);
  width: 2em;
  height: 2em;
  border: 0.15em solid var(--primary-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control + .form-control {
  margin-top: 1em;
}

.checkbox::before {
  content: '';
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
  color: var(--text-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}
